<div class="w-full min-h-[100vh] bg-indigo-500 flex flex-col items-center justify-center pb-36 px-4">
  <h1 class="font-bold text-5xl md:text-7xl text-indigo-100">Instagram 2.0</h1>
  <p class="text-lg text-indigo-200 text-center max-w-sm md:max-w-2xl my-2">The New Place To Share Your Photos! Built with Ruby on Rails </p>
  <%= link_to "Sign In", new_user_session_path, class: "bg-blue-500 text-blue-100 rounded-full w-40 text-center p-2" %>
</div>
